body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Helvetica;
}

.div1 {
    display: flex;
    align-items: center;
    background-color: #290202;
    color: #ffeded;
    font-size: 24px;
}

.div1-1 {
    margin-right: auto;
    margin-left: 80px;
}

.div1-1img {
    height: 75px;
    width: auto;
}

.div1-2 {
    margin-right: 80px;
    margin-left: auto;
}



.div2 {
    display: flex;
}

.div2-1 {
    background-color: #490303;
    width: 500px;
    color: #ffeded;
    border-right: 4px solid #930606;
}

.div2-1-1 {
    border: 4px solid #930606;
    margin: 12px;
    border-radius: 32px;
    background-color: #400505;
}

.div2-1-1-1 {
    border-bottom: 3px solid #930606;
    padding-left: 20px;
}

.div2-1-1-1h {
    margin-bottom: 6px;
    margin-top: 12px;
}

.div2-1ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
}

.div2-1 a {
    text-decoration: none;
    color: #ffeded;
}

.div2-2 {
    display: flex;
    flex-direction: column;
    background-color: #fff5f5;
    border-bottom: 4px solid #930606;
    border-top: 4px solid #930606;
}

.div2-2-1 {
    text-align: center;
    border-bottom: 3px solid #930606;
    background-color: #edc2c2;
    color: #330000;
}

.div2-2-2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-top: 40px;
    background-color: #ffeded;
    gap: 48px;
    padding-bottom: 40px;
}

.div2-2-2div {
    max-width: 700px;
    height: 325px;
    border: 4px solid #930606;
    border-radius: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: #ffbf70;
    color: #330000;
}

.div2-2-2p {
    font-weight: 550;
    font-size: 16px;
}

.div2-2-2h {
    font-size: 36px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.div2-2-2divdiv {
    border: 4px solid #930606;
    border-radius: 24px;
    margin-right: 18px;
    padding-left: 8px;
    padding-right: 8px;
    height: 275px;
    background-color: #ffaf4d;
}

.div2-2-2img {
    width: 200px;
    height: 275px;
    margin-left: 32px;
    border: 4px solid #930606;
    border-radius: 24px;
    background-color: #ffaf4d;
}

.div3 {
    display: flex;
    background-color: #290202;
    align-items: center;
    color: #ffeded;
    font-size: 24px;
    align-items: center;
}

.div3img {
    height: 75px;
    width: auto;
    margin-right: auto;
    margin-left: 80px;
}

.div3-2 {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
    margin-right: 80px;
}

.div3-2button {
    background-color: #290202;
    border: 3px solid #930606;
    color: #ffeded;
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 24px;
    font-weight: 800;
}